<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: maroon;">Welcome to Lost and Found</title>
    <style>
        .container {
            text-align: center;
            margin: 100px auto;
            max-width: 500px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        h1 {
            color: green;
            font-weight: bold;
        }
        img {
            width: 60%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color: maroon; font-weight: bold;">Welcome to Lost and Found 😃</h1>
        <img src="https://inside.nku.edu/content/inside/studentaffairs/departments/studentunion/building-services/lost-and-found/_jcr_content/image.img.png/1123864896.jpg" alt="Welcome Cartoon">
    </div>
</body>
</html>
