# By default, .gitignore blacklists items.
# By adding '*', .gitignore blacklists everything.
# This means we need to whitelist files AND directories manually.
*

# Text-based documents
!*.md
!*.txt
!*.csv

# Code
!*.py
!*.html
!*.css
!*.js

# Scripts
!*.sh
!*.ps1
!*.bat

# Images
!*.jpeg
!*.jpg
!*.png
!*.webp

# Directories
!TamiuLostAndFound
!TamiuLostAndFound/static
!TamiuLostAndFound/templates

!lostfound
!lostfound/templates
!lostfound/management/
!lostfound/management/commands/

!LostAndFoundAndroid

!authentication
!authentication/templates

!media/
!media/item_photos

!scripts/

!data/