<!DOCTYPE html>
<html lang="en">
<head>  
    <title>{% block title %}TAMIU Lost & Found{% endblock %}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .maroon-header{
            background-color: #61162d;
        }
        form p label{
            display:block;
            margin-bottom: 0.25rem;
            font-weight: 500;
            
        }   
    </style>
</head>
<body>
    <header class="maroon-header text-white py-3">
        <div class="container text-center">
        </div>
    </header>

    <div class = "container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>